.footer{
  background: rgb(242,242,242);
  background: linear-gradient(180deg, rgba(242,242,242,1) 10%, rgba(3,74,166,1) 80%);
  padding: 30px 0 10px 0;
  text-align: center;
  height: 100%;
}
.footer h1{
  font-size: 2rem;
  color: var(--second);
  margin: .5rem 0;
}
.footer p{
  color: var(--second);
  font-size: 1rem;
  min-width: 360px;
  max-width: 720px;
  margin: .5rem auto;
}
.footer ul{
  list-style: none; 
}
.footer ul li{  
  margin: .3rem 0 0 auto;
  /* text-align: right; */
  cursor: pointer;
  color: #f2f2f2;  
  padding: .3rem 1rem;
  width: 100%;

  
}
.footer ul li:hover{
  color: var(--second);
}
.fContainer{
  margin: 1rem auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.btn{
  margin: .8rem 0;
  padding: .8rem 2rem;
  background-color:var(--primary);
  color: #f2f2f2;
}
.btn span::before{
  margin-right: .5rem;
  font-size: 1.2rem;
  color: var(--matrixBg);
}

.containerIcons{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 2rem);
  margin: 0 auto;  
}
.containerIcons h3, .containerIcons p{
  color: #f2f2f2;
}
.icons{
  display: flex;
  justify-content: center;
}
.icon{
  width: 70px;
  height: 70px;
  border: 3px solid;
  border-radius: 100%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in .3s;
}
.icon i{
  font-size: 2em;
  padding: 25px;
  color: white;
  transition: ease-in .3s;
}

.icon:hover, .icon i:hover{
  color: var(--second);
  transition: ease-in .3s;
}
.icon i:hover{
  transform: scale(1.2);  
}

.copy{
  background-color: var(--second);
  text-align: center;
  font-size: .6rem;
  font-weight: 400;
  padding: .3rem 0;
}