.principal{
  padding: 3rem 0;
  background: var(--second);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: calc(100vh - 80px);
  position: relative;
}
.principal p{
  margin: .8rem 0 4.2rem 0;
}
.section{
  background: rgb(3,74,166);
  background: linear-gradient(180deg, rgba(3,74,166,1) 40%, rgba(13,13,13,1) 100%);
  padding: 60px 0;
  height: 100vh;
  
}

.containerSobre{  
  flex-wrap: wrap;
  align-items: center;
}

.title{
  text-align: center;
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  max-width: 960px;
  margin: 0 auto 40px auto;
}


.text{
  max-width: 770px;
  text-align: center;
  color: #fff;
}

.cardService{
  min-height: 500px;
  height: auto;
  background-color: #f8f8f8;
  position: relative;
}

.cardService h1{
  color: var(--second);
  font-size: 1.4rem;
  text-align: center;
  margin: .5rem .3rem; 
}
.cardService .subTitle{
  text-align: center;
  color: var(--primary);
  font-size: .8rem;  
  margin: .2rem .3rem;
}
.cardService p{
  color: #323846;
  font-size: 1rem;  
  margin: .5rem .3rem;
  text-align: left;
}
.cardService .buttons{
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  /* text-align: center; */
  
}

.calltoaction{
  background: var(--second);
  padding: 2rem 0;
  text-align: center;
}
.calltoaction h2{
  font-weight: 500;
  text-align: center;
}
.calltoaction p{
  margin: 1.5rem 0;
  text-align: left;
}

.calltoaction img{
  display: block;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
  border-radius: 12px;
}

.btn{
  margin: .8rem auto;
  padding: .8rem 2rem;
  background-color:#f2f2f2;
  color: var(--primary);
}
.btn span::before{
  margin-right: .5rem;
  font-size: 1.2rem;
  color: var(--matrixBg);
}

@media screen and (max-width: 767px) {
  .section{    
    height: 100%;    
  }  
}