.section{
  border-top: 5px solid var(--primary);
  padding: 60px 0;
  background: rgb(13,13,13);
  background: linear-gradient(180deg, rgba(13,13,13,1) 25%, rgba(3,74,166,1) 100%);
}

.containerSkills{
  flex-wrap: wrap;
}

.title{
  text-align: center;  
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.subTitle{
  text-align: center;
  color: var(--primary);
  font-size: 1rem;  
  margin: .2rem .3rem;
}

.images{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.images img{
  margin: 10px;
  width: auto;
  height: auto;
}

.images p{
  text-align: center;
  margin-block-start: 0em;
  margin-block-end: 1em;
  color:#fff  
}