.section1{
  background-color: var(--primary);
  padding: 2rem 0;
}
.container-sites{
  justify-content: center;
  flex-wrap: wrap;
}
.container-sites img{
  display: block;
  border-radius: 12px;
  margin: 0 auto;
  object-fit: cover;
  width: 100%;
}
.sites-content{
  padding: 0 0 1rem 0;
}
.sites-content h1{
  text-align: center;
  font-size: 2.3rem;
}
.sites-content p{
  text-align: center;
  margin: .5rem;
}
.servicos-sites{
  margin: 1rem 0;
}
.servicos-sites h2{
  margin: .5rem 0;
}
.sites-subTitle{
  margin: .5rem 0;
  font-weight: 600;
}
.sites-text{
  line-height: 1.5rem;
}
.section2{
  padding: 2rem 0;
  background: rgb(3,74,166);
background: linear-gradient(180deg, rgba(3,74,166,1) 0%, rgba(13,13,13,1) 100%);
}

.section3{
  padding: 3rem 0;
  background: var(--second);
}
.section4{
  background: rgb(13,13,13);
  background: linear-gradient(180deg, rgba(13,13,13,1) 50%, rgba(60,60,60,1) 80%, rgba(242,242,242,1) 100%);

  padding: 2rem 0;
}